@import '../variables/variables.scss';

@import url($playwrite-font-url);

@import '../mixins/mixins.scss';

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00072b;
}

::-webkit-scrollbar-thumb {
  background-color: #2b7fff;
  border-radius: 10px;
  border: 3px solid #00072b;
}

#dev-to-rater {
  @include playwrite-it-moderna(400);
}

.gradient-text {
  @include gradient-animation();
}

.gradient-button {
  @include gradient-button();
}

@keyframes blueGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.will-change {
  will-change: transform, opacity;
}

#bg-dev-to-rater {
  background-image: url('../../assets/images/background.png');
}
