// Fonts
$playwrite-font-family: 'Playwrite IT Moderna', serif;
$playwrite-font-url: 'https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap';

// Colors
$blue-start: #0000ff;
$blue-middle: #00bfff;
$blue-end: #0000ff;
$gradient-1: #ff6ec4;
$gradient-2: #7873f5;
$gradient-3: #1fd1f9;
$button-gradient-start: #0000ff;
$button-gradient-middle: #00a2ff;
$button-gradient-end: #0000ff;

// Animations
$gradient-animation-duration: 5s;
$blue-gradient-animation-duration: 3s;
