@import './other/mixins.scss';
@import './other/variables.scss';

@import url($playwrite-font-url);

#dev-to-rater {
  @include playwrite-it-moderna(400);
}

// Gradient text example
.gradient-text {
  @include gradient-animation();
}

// Gradient button example
.gradient-button {
  @include gradient-button();
}

@keyframes blueGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.will-change {
  will-change: transform, opacity;
}
